.idea
neighbours/.idea/*
neighbours/out/*
neighbours/neighbours.iml
out/production/neighbours/*
pig/.idea/*
pig/out/*
pig/pig.iml 
calculator/calculator.iml
calculator/calculator/calc.iml
calculator/calculator/out/*
calculator/calculator/.idea/*
/out/
pong/pong.iml
pong/pong/pong.iml
pong/pong/out/*
pong/pong/.idea/*